.wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
    "head head"
    "nav cont";
  height: 100vh;
}

.header {
  grid-area: head;
  background: green;
  padding-top: 10px;
}

.logo img {
  max-width: 80px;
  margin-left: 30px;
}

.user img {
  max-width: 50px;
  float: right;
  margin-right: 30px;
}

.nav {
  grid-area: nav;
  background: green;
}

.content {
  grid-area: cont;
  background: green;
}